.countries {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    justify-items: center;

    &__country {
        display: block;

        &__flag {
            display: block;
            height: 100px;
            width: 250px;
        }

        &__name {
            margin: .2rem 0;
            font-size: 1.5rem;
            font-weight: weight(bold);
        }

        &__unit {
            margin: .1rem 0;
            font-weight: weight(medium);

            &__value {
                font-weight: weight(light);
            }
        }
    }
}

@include media-md {
    .countries {
        grid-template-columns: repeat(2, 1fr);
    }
}