$primary--dk: hsl(256, 26%, 20%);
$primary--lt: hsl(216, 30%, 68%);

$secondary--dk: hsl(270, 9%, 17%);
$secondary--md: hsl(273, 4%, 51%);
$secondary--lt: hsl(0, 0%, 98%);


$font-weight:(
    "light": 300,
    "medium": 600,
    "bold": 800,
);

@function weight($weightname){
    @return map-get($font-weight, $weightname );
};

@mixin theme-light {
    --elements: white;
    --bg: hsl(0, 0%, 98%);
    --text: hsl(200, 15%, 8%);
    --input: hsl(0, 0%, 52%);
};

@mixin theme-dark {
    --elements: hsl(209, 23%, 22%);
    --bg: hsl(207, 26%, 17%);
    --text: white;
    --input: white;
}

@mixin transition-ease {
    transition: all 0.3s ease-in-out;
}

@mixin media-md {
    @media screen and (min-width: 768px) {
        @content; 
    }
}

@mixin media-lg {
    @media screen and (min-width: 1046px) {
        @content; 
    }
}

@mixin media-xl {
    @media screen and (min-width: 1600px) {
        @content; 
    }
}